<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Emicro Central{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% stylesheets
        '../app/Resources/css/bootstrap.css'
        '../app/Resources/css/bootstrap-responsive.css'
        '../app/Resources/css/app.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- Fav and touch icons -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>

{% block navigation %}
<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="#">Project name</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Employees</a></li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>

    </div>

</div>
{% endblock %}

<div class="container">
    {% block body %}{% endblock %}
</div> <!-- /container -->

<!-- Le javascript -->
{% javascripts
    '../app/Resources/js/bootstrap.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
