{% extends 'base.html.twig' %}

{% block title %}Employees | {{ parent() }} {% endblock %}

{% block body %}

    <h2>Employees</h2>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th class="span6">Name</th>
                <th>Designation</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>

            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.designation }}</td>
                <td>{{ employee.email }}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

{% endblock %}